/*rest default style*/
html{
    color:#000;
    background:#FFF;    
    font-size:12px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;   
    line-height: 1;
}

.post-mask-show{
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index: 9;
  font-size:12px;
  line-height: 20px;
  background-color: #fff;
}

.post-mask-show div{
  text-align: center;
  line-height: 30px;
  margin:20px auto;
}

.post-mask-hide{
  display:none;
}

.share-box{
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 20px;
  width:100px;
  border:1px solid #BF0A10;
  border-radius: 5px;
  z-index: 9;
  font-size:12px;
  line-height: 20px;
  color:white;
  background-color: #fff;
}

.share-box-hide{
  display:none;
}

.share-tips{
  background-color: #BF0A10;
  border:1px solid #BF0A10;
  color:white;
  font-weight: bold;
  text-align: center;
  line-height: 16px;
  font-size: 10px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.share-bonus{
  color:#000;
  font-size:12px;
  line-height: 20px;
  text-align: center;
  border-bottom:1px dashed #BF0A10;
}

.share-bonus-hide{
  display: none;
}

.share-btn div{
  font-family: Arial Narrow,Arial,sans-serif;
  margin:5px auto;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  width:100%;
  color:#000;
}

.share-btn a{
  margin:5px auto;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color:white;
  background-color: #BF0A10;
  border: 1px solid #BF0A10;
  border-radius: 10px;
  margin-bottom: 10px;
  width:80px;
  padding:0 10px;
  text-align: center;
  vertical-align: middle;
}

.share-img-hide{
  display: none;
}

.share-img-show{
  text-align: center;
  display: block;
}

.share-img-tips-hide{
  display: none;
}

.share-img-tips-show{
  display: block;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  color: #000;
}

.canvas-hide{
  display: none;
}

.canvas-show{
  display: block;
}


.app-text{
  display:table-cell;
  width:80%;
  vertical-align: top;
}

.app-qrcode{
  display:table-cell;
  width:20%;
  text-align: right;
}

.app-qrcode-box{
    display: inline-block;
}

.app-qrcode-box img{
  width:60px;
  text-align: right;
}

.app-tips{
  font-size:12px;
  line-height: 20px;
  color:#333;
  vertical-align: top;  
}

.app-name{
  font-size:14px;
  line-height: 24px;
  color:#BF0A10;
  font-weight: bold;
  vertical-align: top;  
}

.app-desc{
  font-size:12px;
  font-weight: bold;
  line-height: 16px;
  color:darkgreen;
  vertical-align: top;  
}

.tips{
    margin-top:10px;
    margin-bottom: 10px;
    font-size:12px;
    text-align: center;
}

.profit-hide{
  display:none;
}

.profit-show{
  display:block;
  /*margin-left: 5px;*/
  /*margin-top: 10px;*/
}

body {
    color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;   
    letter-spacing: 0.1em; 
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
@charset "utf-8";
*{margin: 0px;padding: 0px;}
a{text-decoration: none;color: #000000;font-size:1.25rem;/*字体*/}
li{list-style: none;}
input,img{border: none;}
/*end of rest*/

.header{
    width: 100%;
    height: 5rem;
    background-color:red;
}
.search{
    width: 100%;
    margin-left: 1rem;
    text-indent: 10;
}
#searchTxt{
    width:55%;
    float;right;
}
#searchBtn{
    width:40px;
    font-size: 12px;
    float;right;
    background-color: white;
    color:grey;
}
.searchBtn{
    width:40px;
    font-size: 12px;
    font-weight:bold;
    color:white;
    margin-left:5px;
}
.searchBtn-highlight{
    border:1px solid white;
    border-radius: 10px;
    padding:0 3px;
}
.searchBtn-hide{
    display: none;
    width:40px;
    font-size: 12px;
    font-weight:bold;
    color:white;
    margin-left:5px;
}

/*带搜索图标的搜索框样式*/
#searchInput{float: left;width:100%;}
#searchInput .form-control{border: 1px solid #AAAAAA;}
#searchInput .search{border: 1px solid #0088CF;}
#searchIcon{float:left;font-size:16px;margin-left:-20px;margin-top:2px;}
#searchIcon a{color:#AAAAAA;text-decoration:none;}
#searchIcon a:hover {text-decoration:none;color: #0088CF;}

.cardWrapper{
  width:100%;
  margin:auto;
  display:flex;
  flex-direction: column;
  align-items: center;  
}

.itemPrices{
    display:flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.itemTags{
    line-height: 12px;
    vertical-align: middle;
    /*margin-top:-4px;*/
    margin-bottom:7px;
}

.itemTag{
    white-space: nowrap; 
    display:inline-block;
    border:1px solid #8BC34A;
    background-color: #8BC34A;
    color:white;
    font-weight: bold;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    margin-left:1px;
    margin-right:1px;
    margin-bottom: 2px;
    padding:2px;
    vertical-align:middle;
}

.tag-gold{
  background-color: #b38600;
  border:1px solid #b38600;
}
.tag-red{
  background-color: #e62c00;
  border:1px solid #e62c00;
}
.tag-green{
  background-color: #298000;
  border:1px solid #298000;
}

.itemTagPrice{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkred;
  padding:2px;
  line-height: 18px;
  vertical-align:middle;
}
.itemTagDistributor{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkgreen;
  padding:2px; 
  line-height: 18px;
  vertical-align:middle;
}

.itemTagProfitOrder{
  font-size:10px;
  font-weight: bold;
  background-color: white;
  color:darkred;
  padding:2px;   
  line-height: 16px; 
  border:1px solid darkred;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right:2px;
}
.itemTagProfitTeam{
  font-size:10px;
  font-weight: bold;
  background-color: white;
  color:darkgreen;
  padding:2px;    
  line-height: 16px;
  border:1px solid darkgreen;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right:2px;
}
.itemTagProfitCredit{
  font-size:10px;
  font-weight: bold;
  background-color: white;
  color:orange;
  padding:2px;    
  line-height: 16px;
  border:1px solid orange;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.coupon{
  font-size:12px;
  font-weight: bold;
  color:#fe4800;   
  line-height: 18px;
  vertical-align:middle;
}

.couponTip{
  font-size:12px;
  font-weight: bold;
  color:#fe4800;   
  margin-left:2px;
  line-height: 18px;
  vertical-align:middle;
}

.couponTipBox{
  font-size:12px;
  font-weight: bold;
  color:white;
  background-color: #fe4800;  
  margin-left:2px;
  margin-right:2px;
  padding:1px;
  line-height: 18px;
  vertical-align:middle;
}

.profitTipOrder{
  font-size:10px;
  font-weight: bold;
  background-color: darkred;
  color:white;
  padding:2px;    
  line-height: 16px;
  border:1px solid darkred;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.profitTipTeam{
  font-size:10px;
  font-weight: bold;
  background-color: darkgreen;
  color:white;
  padding:2px; 
  line-height: 16px;   
  border:1px solid darkgreen;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.profitTipCredit{
  font-size:10px;
  font-weight: bold;
  background-color: orange;
  color:white;
  padding:2px;   
  line-height: 16px; 
  border:1px solid orange;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.header span{
    color: white;
    font-size:2rem;
    font-weight: bold;
    line-height: 5rem;
}
.header input{
    width: 25rem;
    height: 3rem;
    border-radius: 1.5rem;
    font-size: 12px;
    border: none;
    padding-left:5px;
}
.nav{
    height:5rem;
    width: 100%;
    border-bottom:1px solid silver;
    overflow: hidden;
}
.nav ul li{
    list-style-type: none;
    float: left;
    line-height: 5rem;
    margin-left: 1.66667rem;
    font-size: 1.5em;
    font-weight:bold;
}
.nav ul .showNav{
    color: #d14046;
    /*
    border:1px solid #d14046;
    border-radius: 10px;
    padding: 2px 5px;
    //*/
}


.footer-hide{
  display:none;
}

.footer-show{
  width:90%;
  font-size:1rem;
  color:grey;
  margin:5px auto;
  padding:5px;
  border:1px solid silver;
  border-radius: 5px;
  text-align: center;
}

/**推荐/搜索更多按钮**/
.findMoreBtn-show{
  display:block;
  margin:5px auto;
  width:60%;
  padding:8px;
  border:1px solid red;
  color: red;
  border-radius: 20px;
  min-width: 60px;
  font-size: 12px;
  font-weight: bold;  
  background-color: #fff;
}
.findMoreBtn-hide{
  display:none;
  margin:8px;
  width:60%;
  padding:5px auto;
  border:1px solid red;
  color: red;
  border-radius: 20px;
  min-width: 60px;
  font-size: 12px;
  font-weight: bold;  
  background-color: #fff;
}
.no-result-tip-hide{
  display:none;
  margin:100px auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.no-result-tip-show{
  display:block;
  margin:50px auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.no-persona-tip-hide{
  display:none;
  margin:2px auto;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  border:1px solid gold;
  background-color: yellow;
}
.no-persona-tip-show{
  display:block;
  margin:2px;
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  font-weight: bold;
  border:1px solid gold;
  background-color: yellow;
}
.formLabel{
  margin-top:5px;
  padding-left:10px;
  margin-bottom: 2px;
}
.ui-helper-hidden-accessible{
  display:none;/*隐藏tagit搜索提示*/
}

/*分割线：已废弃，影响宽度*/
.hr-solid-content {
    color: #a2a9b6;
    border: 0;
    font-size: 12px;
    padding: 1em 0;
    position: relative;
    clear: both;
    width:100%;
}
.hr-solid-content::before {
    content: attr(data-content);
    position: absolute;
    padding: 0 1ch;
    line-height: 1px;
    border: solid #d0d0d5;
    border-width: 0 99vw;
    width: fit-content;
    /* for 不支持fit-content浏览器 */
    white-space: nowrap;
    left: 50%;
    transform: translateX(-50%);
}

.sx_seperator{
    height: 1px;
    border-top: 1px solid #ddd;
    text-align: center;
}
.sx_seperator span{
  position: relative;
  top: -8px;
  background: #fff;
  font-size:12px;
  padding: 0 10px;
}
