/*rest default style*/
html{
    color:#000;
    background:#FFF;    
    font-size:12px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
    font-family: "Helvetica Neue", Arial, "PingFang SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;   
    line-height: 1;
}
.tips{
    margin-top:10px;
    margin-bottom: 10px;
    font-size:12px;
    text-align: center;
}

.profit-hide{
  display:none;
}

.profit-show{
  display:block;
  margin-left: 5px;
  margin-top: 10px;
}

body {
    color: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;   
    letter-spacing: 0.1em; 
}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal;}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
@charset "utf-8";
*{margin: 0px;padding: 0px;}
a{text-decoration: none;color: #000000;font-size:1.25rem;/*字体*/}
li{list-style: none;}
input,img{border: none;}
/*end of rest*/

.header{
    width: 100%;
    height: 5rem;
    background-color:red;
}
.search{
    width: 100%;
    margin-left: 1rem;
    text-indent: 10;
}
#searchTxt{
    width:60%;
    float;right;
}
#searchBtn{
    width:40px;
    font-size: 12px;
    float;right;
    background-color: white;
    color:grey;
}
.searchBtn{
    width:40px;
    font-size: 12px;
    font-weight:bold;
    color:white;
    margin-left:5px;
}

.searchBtn-hide{
    display: none;
    width:40px;
    font-size: 12px;
    font-weight:bold;
    color:white;
    margin-left:5px;
}

/*带搜索图标的搜索框样式*/
#searchInput{float: left;width:100%;}
#searchInput .form-control{border: 1px solid #AAAAAA;}
#searchInput .search{border: 1px solid #0088CF;}
#searchIcon{float:left;font-size:16px;margin-left:-20px;margin-top:2px;}
#searchIcon a{color:#AAAAAA;text-decoration:none;}
#searchIcon a:hover {text-decoration:none;color: #0088CF;}

.itemTags{
    line-height: 20px;
    vertical-align: middle;
    margin-top:-5px;
    margin-bottom:5px;
}

.itemTag{
    white-space: nowrap; 
    display:inline-block;
    border:1px solid #8BC34A;
    background-color: #8BC34A;
    color:white;
    font-weight: bold;
    border-radius: 5px;
    margin-right:2px;
    padding:2px;
    vertical-align:middle;
}

.itemTagPrice{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkred;
  padding:2px;
  vertical-align:middle;
}
.itemTagDistributor{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkgreen;
  padding:2px; 
  vertical-align:middle;
}

.itemTagProfitOrder{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkred;
  padding:2px;    
  border:1px solid darkred;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right:2px;
}
.itemTagProfitTeam{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:darkgreen;
  padding:2px;    
  border:1px solid darkgreen;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right:2px;
}
.itemTagProfitCredit{
  font-size:12px;
  font-weight: bold;
  background-color: white;
  color:orange;
  padding:2px;    
  border:1px solid orange;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.coupon{
  font-size:12px;
  font-weight: bold;
  color:#fe4800;   
  vertical-align:middle;
}

.couponTip{
  font-size:10px;
  font-weight: bold;
  color:#fe4800;   
  margin-left:2px;
  vertical-align:middle;
}

.couponTipBox{
  font-size:10px;
  font-weight: bold;
  color:white;
  background-color: #fe4800;  
  margin-left:2px;
  margin-right:2px;
  padding:1px;
  vertical-align:middle;
}

.profitTipOrder{
  font-size:12px;
  font-weight: bold;
  background-color: darkred;
  color:white;
  padding:2px;    
  border:1px solid darkred;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.profitTipTeam{
  font-size:12px;
  font-weight: bold;
  background-color: darkgreen;
  color:white;
  padding:2px;    
  border:1px solid darkgreen;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.profitTipCredit{
  font-size:12px;
  font-weight: bold;
  background-color: orange;
  color:white;
  padding:2px;    
  border:1px solid orange;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}


.header span{
    color: white;
    font-size:2rem;
    font-weight: bold;
    line-height: 5rem;
}
.header input{
    width: 25rem;
    height: 3rem;
    border-radius: 0.83333rem;
    font-size: 1.66667rem;
    border: none;
}
.nav{
    height:5rem;
    width: 100%;
    border-bottom:1px solid silver;
    overflow: hidden;
}
.nav ul li{
    list-style-type: none;
    float: left;
    line-height: 5rem;
    margin-left: 1.66667rem;
    font-size: 1.5em;
    font-weight:bold;
}
.nav ul .showNav{
    color: #d14046;
}