
div.title{
    font-weight:bold;
    font-size:1.2rem;
    line-height: 1.5rem;
}

.footer-hide{
	display:none;
}

.footer-show{
	display:block;
	width:20%;
	font-size:1rem;
	color:grey;
	margin:5px auto;
	padding:5px;
	border:1px solid silver;
	border-radius: 5px;
	text-align: center;
}

