.task{
  width:100%;
  display:table;
  margin:2px auto;
}

.task-logo{
  display:table-cell;
  width:20%;
  text-align: center;
}

.task-tags{
  display:table-cell;
  vertical-align: top;
  width:80%;
}

.task-url{
  width:100%;
  font-size:12px;
  text-align:top;
  padding-bottom: 5px;
}

.task-url a{
  font-size:12px;
  line-height:16px;
  padding-top:0;
  color:darkred;
}

.title{
  font-size:16px;
  font-weight: bold;
  margin-bottom:10px;
}

.description{
  font-size:12px;
  line-height: 14px;
  margin-top: 10px;
}

.persona-form{
  width:75%;
  margin:10px auto;
}

.persona-form label{
  font-size: 12px;
}

.persona-form input{
  font-size: 12px;
}

.persona-form textarea{
  font-size: 12px;
}

.persona-form button{
  font-size: 12px;
}

#submitBtn{
  background-color: green;
  border:1px solid green;
  border-radius: 5px;
  color: white;
}

#deleteBtn{
  background-color: red;
  border:1px solid red;
  border-radius: 5px;
  color: white;
}

